

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.07143rem;
  border-radius: 10rem;


  border: none;
  @include transition;
  color: #fff;
  @include font-button(small);

  & span{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    padding: 0.86rem;
    background: transparent;
    border-radius: 100rem;
  }

  //sizes
  &.large {
    padding: 11px;
  }

  &.medium {
    padding: 10px;
  }

  &.small {
    padding: 10px;
  }

  @media screen and (min-width: 834px) {
    font-size: 0.77rem;
    & span{
      padding: 0.501843rem;
    }
  }
  @media screen and (min-width: 1180px) {
    font-size: 0.64rem;
    & span{
      padding: 0.3561rem;
    }
  }
}
//colors
.button{
  &.orange {
     background: $gr-btn-3-stroke;
    & span{
       background: $gr-btn-3-default;
    }
    &:hover{
      & span{
         background: $gr-btn-3-hover;
      }
    }
  }
  &.red {
     background:   $gr-btn-1-stroke;
    & span{
       background:$gr-btn-1-default;
    }
    &:hover{
      & span{
         background: $gr-btn-1-hover;
      }
    }
  }
  &.purple {
     background:  $gr-btn-2-stroke;
    & span{
       background:$gr-btn-2-default ;
    }
    &:hover{
      & span{
         background: $gr-btn-2-hover;
      }
    }
  }
  &.green {
    background:  $gr-btn-4-stroke;
    & span{
      background: $gr-btn-4-default;
    }
    &:hover{
      & span{
        background: $gr-btn-4-hover;
      }
    }
  }
  &.black {
    color: #fff;
    background: #1B1B1B;
    &:hover{
      color: #fff;
      background: #464347;
    }
  }
  &.white {
    color: #1B1B1B;
    background: #CCCCCC;
    &:hover {
        background: #fff;
      }
  }
  &.secondBlack {
    color: #fff;
    background: #2A2A2A;
    &:hover{
      background: #353535;
    }
  }
}



.button-outline {
  @extend .button;
&.red,&.orange,&.purple,&.green{
  & span{
    background: $cl-neutral-900;
  }
}

}