html {
    box-sizing: border-box;
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
}

body {
    font-family: Duplet;
    font-style: normal;
    color: $cl-neutral-400;
    background-color: $cl-neutral-900;
    letter-spacing: 0.03em;
    overflow-x: hidden;
    margin: 0;
    position: relative;
}

main {
    overflow-x: hidden;
    position: relative;
    width: 100%;
}


body.modal-open {
    overflow: hidden;
}

::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}


