//font-size
$fs-h1: 64px;
$fs-h2: 48px;
$fs-h3: 40px;
$fs-h4: 36px;

$fs-32: 32px;
$fs-30: 30px;
$fs-28: 28px;
$fs-26: 26px;
$fs-24: 24px;
$fs-22: 22px;
$fs-20: 20px;
$fs-18: 18px;
$fs-16: 16px;
$fs-14: 14px;
$fs-12: 12px;

//border-radius
$br-button: 100px;
$br-16: 16px;
$br-12: 12px;
$br-4: 4px;
$br-2: 2px;
$br-1: 1px;

//base
$cl-base-white: #fff;
$cl-base-black: #191818;
$cl-base-primary: #ec6608;
$cl-base-primary-hover: #d85200;

//Greyscale
$cl-grey-900: #232222;
$cl-grey-800: #2d2c2c;
$cl-grey-700: #373636;
$cl-grey-600: #414040;
$cl-grey-500: #555454;
$cl-grey-400: #737272;
$cl-grey-300: #a5a4a4;
$cl-grey-200: #cdcccc;
$cl-grey-100: #ebeaea;
$cl-grey-50: #f4f3f3;

//Other
$cl-other-green: #299c46;
$cl-other-red: #e9303b;
$cl-other-orange: #fba91d;
$cl-other-blue: #32b1e8;

//background
$cl-bg-default: #fafafa;

//animation
$anim-linear: 0.3s linear;

//shadow
$shadow-modal: 0px 14px 24px 0px rgba(0, 0, 0, 0.47);
