.services {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: start;
  padding-top: 5rem;
  height: 56.057rem;



  background-image: url("../img/services/375_serviceBg.webp");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;

  @media screen and (min-width: 834px) {
    padding-top: 7.3rem;
    height: 58.743rem;
    background-image: url("../img/services/843_serviceBg.webp");
  }
  @media screen and (min-width: 1180px) {
    padding-top: 7.86rem;
    height: 32.4251rem;

    flex-direction: row;
    align-items: start;
    justify-content: start;

    background-image: url("../img/services/1180_serviceBg.webp");
  }
  @media screen and (min-width: 1280px) {
    padding-top: 9.1rem;
    height: 32.665rem;

    background-image: url("../img/services/1280_serviceBg.webp");
  }
  @media screen and (min-width: 1512px) {
    padding-top: 6.7rem;
    height: 31.896rem;

    background-image: url("../img/services/1512_serviceBg.webp");
  }
  @media screen and (min-width: 1728px) {
    padding-top: 7.6rem;
    height: 34.061rem;
    background-image: url("../img/services/1728_serviceBg.webp");
  }
}

.swiper-container {
  flex: 1;
  margin: 0 auto;
}


.styled-gallery-top {
  position: relative;
  width: 100%;
  $width:21.5396rem;
  $height: 34.85714rem;
  max-width: $width;
  min-height: $height;
  z-index: 66;


  & .swiper-slide {
    height: $height;
    width: $width;
  }
  & .gallery-top iframe {
    position: absolute;
    bottom: 0;
    height: calc(100% - 70px);
    width: calc($width - 2rem);
    left: 50%;
    transform: translateX(-50%);
  }
  @media screen and (min-width: 834px) {
    $width:22.5522rem;
    $height: 35.2243rem;
    max-width: $width;
    min-height: $height;

     & .swiper-slide {
       height: $height;
       width: $width;
    }
    & .gallery-top iframe {
      height: calc(100% - 4rem);
      width: calc($width - 2rem);
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @media screen and (min-width: 1180px) {
    margin-left: 7.99rem;

    $width:14.453rem;
    $height: 24.551rem;
    max-width: $width;
    min-height: $height;
    height: $height;

    & .swiper-slide {
      height: $height;
      width: $width;
    }
    & .gallery-top iframe {
      height: calc(100% - 2.5rem);
      width: calc($width - 1.2rem);
    }
  }
  @media screen and (min-width: 1280px) {
    margin-left: 9.8rem;

    $width:13.885rem;
    $height: 23.587rem;
    max-width: $width;
    min-height: $height;
    height: $height;

    & .swiper-slide {
      height: $height;
      width: $width;
    }
    & .gallery-top iframe {
      height: calc(100% - 2.5rem);
      width: calc($width - 1.2rem);
    }
  }
  @media screen and (min-width: 1512px) {
    margin-left: 7.97rem;

    $width:15.907rem;
    $height: 25.288rem;
    max-width: $width;
    min-height: $height;
    height: $height;

    & .swiper-slide {
      height: $height;
      width: $width;
    }
    & .gallery-top iframe {
      height: calc(100% - 2.5rem);
      width: calc($width - 1.2rem);
    }
  }

  @media screen and (min-width: 1728px) {
    margin-left: 11.32rem;

    $width:15.895rem;
    $height: 26.492rem;
    max-width: $width;
    min-height: $height;
    height: $height;

    & .swiper-slide {
      height: $height;
      width: $width;
    }
    & .gallery-top iframe {
      height: calc(100% - 2.5rem);
      width: calc($width - 1.2rem);
    }
  }


}
.styled-gallery-thumbs {
  max-width: 21.5396rem;
  @media screen and (min-width: 834px) {
    max-width: 27.731rem;
  }
  @media screen and (min-width: 1180px) {
    max-width: 19.548rem;
    margin-left: 6.35rem;
    margin-top: 5.1rem;
  }
  @media screen and (min-width: 1280px) {
    max-width: 18.6912rem;
    margin-left: 6.2rem;
    margin-top: 4.7rem;
  }
  @media screen and (min-width: 1512px) {
    max-width: 22.882rem;
    margin-left: 5.2rem;
    margin-top: 5.28rem;
  }
  @media screen and (min-width: 1720px) {
    max-width: 21.2312rem;
    margin-left: 7.5rem;
    margin-top: 7.84rem;
  }
}

.styled-gallery-top--phone {
  position: absolute;
  width: 100%;
  height: 100%;
}


.gallery-top {
  position: relative;
  height: 80%;
  width: 100%;
  min-height: inherit;
}

// ! iframe
.gallery-top {
  position: relative;

  & .swiper-slide-active {
    & img {
      display: block;
    }
  }

  & img {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
  }


}

// TODO: ---------------------THUMBS


.gallery-thumbs {
  height: 10.77rem;
  box-sizing: border-box;
  position: relative;
  & .swiper-slide {
    opacity: 0;
  }
  & .swiper-slide-active {
    opacity: 1;
  }
  @media screen and (min-width: 834px) {
    height:  8.2546rem;
  }
  @media screen and (min-width: 1180px) {
    height:  8.987rem;
  }
  @media screen and (min-width: 1512px) {
    height:  fit-content;
  }
}

// -------------------- text slider

.swiper-slide-container {
  display: flex;
  flex-direction: column;
}

// text
.services__title {
  position: relative;
  width: fit-content;
  @include font-title(h2-375);
  color: $cl-neutral-800;
  margin-bottom: 0.2rem;

  &:before,&::after{
    @include font-title(h2-375);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    color: $cl-neutral-300;
    opacity: 0.5;
  }

  &::before {
    content: attr(data-before);
    right: 105%;
  }

  &::after {
    content: attr(data-after);
    left: 105%;
  }

  @media screen and (min-width: 834px) {
    width: 100%;
    @include font-title(h2-834);
    margin-bottom: 1.799rem;

    &:before,&::after{
      @include font-title(h2-834);
    }
    &::before {
      right: 109%;
    }
    &::after {
      left: 110%;
    }
  }
  @media screen and (min-width: 1180px) {
    width: 100%;
    @include font-title(h2-1180);
    margin-bottom: 0.63rem;

    &:before,&::after{
      @include font-title(h2-1180);
    }
    &::before {
      right: 111%;
    }
    &::after {
      left: 111%;
    }
  }
  @media screen and (min-width: 1280px) {
    width: 100%;
    @include font-title(h2-1280);
    margin-bottom: 0.5rem;

    &:before,&::after{
      @include font-title(h2-1280);
    }
    &::before {
      right: 111%;
    }
    &::after {
      left: 111%;
    }
  }
  @media screen and (min-width: 1512px) {
    width: 100%;
    @include font-title(h2-1512);
    margin-bottom: 0.9rem;

    &:before,&::after{
      @include font-title(h2-1512);
    }
  }
  @media screen and (min-width: 1728px) {
    width: 100%;
    @include font-title(h2-1728);
    margin-bottom: 0.68rem;

    &:before,&::after{
      @include font-title(h2-1728);
    }
  }

}

.services__text {
  color: $cl-neutral-800;
  @include font-body(normal-375);

  @media screen and (min-width: 834px) {
    @include font-body(normal-834);
  }
  @media screen and (min-width: 1180px) {
    @include font-body(normal-1180);
    max-width: 17.834rem;
  }
  @media screen and (min-width: 1280px) {
    @include font-body(normal-1280);
    max-width: 16.999999rem;
  }
  @media screen and (min-width: 1512px) {
    @include font-body(normal-1512);
    max-width: 21.087rem;
  }
  @media screen and (min-width: 1728px) {
    @include font-body(normal-1728);
    max-width: 19.566rem;
  }

}

// TODO: Slider Navigation
.services-slider-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.14rem;
  position: relative;
  align-self: stretch;
  margin-top: 1.71rem;
  margin-bottom: 2.2rem;

  &-next, &-prev {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    $size: 2.7rem;
    min-width: $size;
    width: $size;
    height: $size;

    border-radius: 100rem;
    border: 0.07143rem solid $cl-magenta-200;
    background-color: $cl-neutral-100;

    &:hover {
      background-color: $cl-neutral-200;
    }

    &.swiper-button-disabled {
      opacity: 0.5;
      cursor: auto;

      &:hover {
        background-color: $cl-neutral-100;
      }
    }
  }

  @media screen and (min-width: 834px) {
    gap: 1rem;
    margin-top: 3.8rem;
    margin-bottom: 1.76rem;

    &-next, &-prev {
      $size: 2.59rem;
      min-width: $size;
      width: $size;
      height: $size;
    }
  }
  @media screen and (min-width: 1180px) {
    gap: 0.75rem;
    margin-top: 1.98rem;
    margin-left: -1.6rem;

    margin-bottom: 0;
    &-next, &-prev {
      $size: 2.224rem;
      min-width: $size;
      width: $size;
      height: $size;
    }
  }
  @media screen and (min-width: 1280px) {
    margin-top: 1.58rem;
    margin-left: 0;
    &-next, &-prev {
      $size: 2.1367rem;
      min-width: $size;
      width: $size;
      height: $size;
    }
  }
  @media screen and (min-width: 1512px) {
    margin-top: 2.02rem;
    &-next, &-prev {
      $size: 1.958rem;
      min-width: $size;
      width: $size;
      height: $size;
    }
  }
  @media screen and (min-width: 1728px) {
    margin-top: 1.86rem;
    gap: 0.58rem;
    &-next, &-prev {
      $size: 1.817rem;
      min-width: $size;
      width: $size;
      height: $size;
    }
  }
}

.swiper-pagination {
  display: none;
  position: relative !important;
  margin-right: 1.4rem;
  align-items: center;
  justify-content: end;

  --swiper-pagination-bottom: auto;
  --swiper-pagination-top: auto;
  --swiper-pagination-color: #FFF;
  --swiper-pagination-bullet-inactive-color: #FFF;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-size: 0.5345rem;
  --swiper-pagination-bullet-horizontal-gap: 6px;
  width: 100%;

  & .swiper-pagination-bullet {
    border: 1px solid #FFD7E4;
  }

  & .swiper-pagination-bullet-active {
    border: 1px solid #FF5970;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
  }
  @media screen and (min-width: 1512px) {
    --swiper-pagination-bullet-size: 0.816rem;
    margin-right: 0.3rem;
  }
  @media screen and (min-width: 1728px) {
    --swiper-pagination-bullet-size: 0.757rem;
    margin-right: 1.4rem;
  }
}